@import 'tailwindcss';

:root {
	--peach: #e7816b;
	--light-peach: #ffad9b;
	--black: #1d1c1e;
	--dark-grey: #333136;
	--light-grey: #f1f3f5;
}

@theme inline {
	--color-peach: var(--peach);
	--color-light-peach: var(--light-peach);
	--color-black: var(--black);
	--color-dark-grey: var(--dark-grey);
	--color-light-grey: var(--light-grey);
}

html {
	font-size: calc(100vw / 1440 * 14);
}

body {
	color: var(--dark-grey);
	font-family: var(--font-jost);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	scrollbar-width: none;
}

main {
	flex-grow: 1;
}
